:root {
  font-size: 62.5%;
}

body {
  align-items: center;
  background: linear-gradient(60deg, #190361, #BB00FF);
  color: #34355B;
  display: flex;
  height: 100vh;
  justify-content: center;
  font-size: 1.6rem;
}

main {
  background: #FFF;
  border-radius: 0.5rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  padding: 6.4rem;
  text-align: center;
  width: 42.8rem;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
}

p {
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  margin: 1.4rem 0 2rem 0;
}

#fortune-cookie {
  cursor: pointer;
}

#fortune-cookie:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

button {
  background: #FF9500;
  border: none;
  border-radius: 0.4rem;
  color: #FFF;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1.7rem;
  padding: 1.6rem;
  transition: filter 300ms ease-in-out;
}

button:hover {
  filter: brightness(0.9);
}

.cookie-message {
  animation-name: toFadeIn;
  animation-duration: 500ms;
  background: #E4EDF1;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(85, 85, 85, 0.5);
  margin-top: 1.7rem;
  padding: 1rem;
}

.cookie-message > p {
  color: #000;
  font-family: "Dancing Script", cursive;
  font-size: 2.4rem;
  margin: 0;
}

.hidden {
  display: none;
}

/* animation credits
https://github.com/anasilveira9787/Sorte-de-hoje/tree/main
*/

@keyframes toFadeIn {
  0% {
    transform:
    translateY(150px)
    scale(0.1);

  }

  100% {
    transform:
    translateY(0px)
    scale(1);
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}